<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Post</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Instagram</h1>
    <form action="/insta" method="post" class="post-form">
        <h3>Enter Username</h3>
        <input type="text" placeholder="Enter username" name="username" class="input-field"> <br> <br>
        <h4>Enter your image link</h4>
        <textarea name="img" placeholder="Enter your image link" rows="4" cols="60" class="input-field"></textarea> <br> <br>
        <h4>Enter caption</h4>
        <textarea placeholder="Write your post" name="caption" rows="4" cols="60" class="input-field"></textarea> <br> <br>
        <button class="submit-btn">Submit Post</button>
    </form>
</body>
</html>
